<div class = "longitude" style="display: none;"><%= @location.longitude %></div>
<div class = "lattitude" style="display: none;"><%= @location.lattitude %></div>
<div class = "dir_longitude" style="display: none;"><%= @location.dir_longitude %></div>
<div class = "dir_lattitude" style="display: none;"><%= @location.dir_lattitude %></div>
<div class = "zoom" style="display: none;"><%= @location.zoom %></div>
<div class = "pitch" style="display: none;"><%= @location.pitch %></div>
<div class = "heading" style="display: none;"><%= @location.heading %></div>
<div class = "locationId" style="display: none;"><%= @location.id %></div>

<div></div>
<style>
      #map-canvas {
        height: 50%;
        margin-top: 0;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0;
      }

</style>
<script>


function initialize() {

  var dirLongitude = document.getElementsByClassName("dir_longitude")[0].innerHTML
  var dirLattitude = document.getElementsByClassName("dir_lattitude")[0].innerHTML
  var lattitude = document.getElementsByClassName("lattitude")[0].innerHTML
  var longitude = document.getElementsByClassName("longitude")[0].innerHTML
  var locationZoom = Number(document.getElementsByClassName("zoom")[0].innerHTML)
  var locationPitch = Number(document.getElementsByClassName("pitch")[0].innerHTML)
  var locationHeading = Number(document.getElementsByClassName("heading")[0].innerHTML)

  var bryantPark = new google.maps.LatLng(dirLattitude, dirLongitude);


  var head;  
  var streetViewService = new google.maps.StreetViewService();
  var point = new google.maps.LatLng(lattitude, longitude);
  var oldPoint = new google.maps.LatLng(dirLattitude, dirLongitude);
  head = google.maps.geometry.spherical.computeHeading(oldPoint,point);

  if(locationZoom == 0){
    locationZoom = 0;
  }
  if(locationHeading == 0){
    locationHeading = head;
  }
  if(locationPitch == 0){
    locationPitch = 0;
  }


  var panoramaOptions = {
    position: bryantPark,
    pov: {
      heading: head,
      pitch: 0
    },
    zoom: 0
  };
    
    myPano = new google.maps.StreetViewPanorama(
    document.getElementById('map-canvas'),
    {
      position: bryantPark,
      pov: {
        heading: locationHeading,
        pitch: locationPitch
      },
      zoom: locationZoom,
      panControl: false,
      zoomControlOptions: false,
      linksControl: false
    });
    myPano.setVisible(true);


    //Google map event listener
    google.maps.event.addListener(myPano, 'zoom_changed', function() {
      $.ajax({
        type: "post",
        url: "/editLocation",
        data: {zoom: myPano.getZoom(), dir_longitude: dirLongitude, lattitude: lattitude},
        success: function(resp){
        }
      });
    });

    // google.maps.event.addListener(myPano, 'pano_changed', function() {
    //   console.log(myPano.getPano());
    //   debugger
    // });


    google.maps.event.addListener(myPano, 'pov_changed', function() {
      $.ajax({
        type: "post",
        url: "/editLocation",
        data: {heading: myPano.getPov().heading, pitch: myPano.getPov().pitch, dir_longitude: dirLongitude, lattitude: lattitude},
        success: function(resp){
        }
      });
    });
  }


google.maps.event.addDomListener(window, 'load', initialize);



</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>

<div id = "map-canvas"></div>
<br>
<div class = "row">
<div class = "large-6 medium-6 small-6 columns">
    <%#= f.select(:year, 2013.downto(1923)) %>
        <%= select_year(@year.start_year.to_f, {:start_year => Date.today.year, :end_year => 100.years.ago.year}, {:id => "startYear", :class => "span1", :onchange =>'rememberTimeFrame();'}) %>
</div>
<div class = "large-6 medium-6 small-6 columns">
    <%#= f.select(:year, 2013.downto(1923)) %>
    <%= select_year(@year.end_year.to_f, {:start_year => Date.today.year, :end_year => 100.years.ago.year}, {:id=> "endYear", :class => "span1", :onchange =>'rememberTimeFrame();'}) %>
</div>
</div>


<div class = "row">
  <div class = "large-12 medium-12 small-12 columns">
<%= form_for(@post) do |a| %>
  <%= a.text_area :text, class: 'form-control', placeholder: "Post a memory or write a story . . ." %>
  <%= a.hidden_field :location_id, :value => @location.id %>
  <%= a.hidden_field :user_id, :value => current_user.id %>
  <%= a.submit "Post" %>
<% end %>
  </div>
</div>
<br>
<div class = "row">
  <div class = "large-12 medium-12 small-12 columns">
  <hr>
  <% @posts.reverse.each do |b| %>
    <div class = "row">
    <div class = "large-12 medium-12 small-12 columns">

    <%#= image_tag url_for(:controller => "locations", :action => "show_image", :id => b.user.id) %>
    <%= image_tag "data:#{b.user.avatar.content_type};base64,#{b.user.small_image}" %>
    <%#= image_tag b.user.avatar.url(:thumb) %>

    <b><%= b.user.full_name %></b>:
    <%= b.text %>&nbsp&nbsp
    <small><%= time_ago_in_words(b.created_at) %> ago</small>


    <% if current_user == b.user %>
      <%= link_to "Delete", [b], method: :delete, data: {confirm: "Are you sure you want to delete this ?"} %>
    <% end %>
    <br></br>
    </div>
    </div>

<!--        Area used for comment form -->
  <div class = "row">
  <div class = "large-12 medium-12 small-12 columns">
      <%= form_for(@comment) do |c| %>
      <%= c.text_area :text, class: 'form-control', placeholder: "Leave comment" %>
      <%= c.hidden_field :post_id, :value => b.id %>
      <%= c.hidden_field :user_id, :value => current_user.id %>
      <%= c.submit "Comment"%>
    <% end %>
  </div>
  </div>
  <br>

<!--        Area end                  -->

  <% b.comments.each do |d| %>
    <%#= image_tag d.user.avatar.url(:thumb) %>
    &nbsp&nbsp&nbsp&nbsp<%= image_tag "data:#{d.user.avatar.content_type};base64,#{d.user.small_image}" %>
    <b><%= d.user.full_name %></b>:
    <%= d.text %>
    &nbsp&nbsp<small><%= time_ago_in_words(d.created_at) %> ago</small>
    <% if current_user == d.user %>
      <%= link_to "Delete", [d], method: :delete, data: {confirm: "Are you sure you want to delete this ?"} %>
    <% end %>
    <br>
    <br>
  <% end %>

  <hr>

  <% end %>

  </div>
</div>

<script>
  function rememberTimeFrame(){
    var startYear = Number(document.getElementById("startYear").options[document.getElementById("startYear").selectedIndex].text);
    var endYear = Number(document.getElementById("endYear").options[document.getElementById("endYear").selectedIndex].text);
    var locationId = document.getElementsByClassName("locationId")[0].innerHTML
    debugger
    $.ajax({
      type: "post",
      url: "/editYear",
      data: { start_year: startYear, end_year: endYear, location_id: locationId },
      success: function(resp){}
    });
  }
</script>





