<div class = "longitude" style="display: none;"><%= @location.longitude %></div>
<div class = "lattitude" style="display: none;"><%= @location.lattitude %></div>
<div class = "dir_longitude" style="display: none;"><%= @location.dir_longitude %></div>
<div class = "dir_lattitude" style="display: none;"><%= @location.dir_lattitude %></div>
<div></div>
<style>
      #map-canvas {
        height: 50%;
        margin-top: 0;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0;
      }

</style>
<script>


function initialize() {

  var dirLongitude = document.getElementsByClassName("dir_longitude")[0].innerHTML
  var dirLattitude = document.getElementsByClassName("dir_lattitude")[0].innerHTML
  var lattitude = document.getElementsByClassName("lattitude")[0].innerHTML
  var longitude = document.getElementsByClassName("longitude")[0].innerHTML


  var bryantPark = new google.maps.LatLng(dirLattitude, dirLongitude);


  var head;  
  var streetViewService = new google.maps.StreetViewService();
  var point = new google.maps.LatLng(lattitude, longitude);
  var oldPoint = new google.maps.LatLng(dirLattitude, dirLongitude);
  head = google.maps.geometry.spherical.computeHeading(oldPoint,point);


  var panoramaOptions = {
    position: bryantPark,
    pov: {
      heading: head,
      pitch: 0
    },
    zoom: 0
  };
  var myPano = new google.maps.StreetViewPanorama(
      document.getElementById('map-canvas'),
      panoramaOptions);
  myPano.setVisible(true);
}


google.maps.event.addDomListener(window, 'load', initialize);



</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>

<div id = "map-canvas"></div>
<br>
<div class = "row">
<div class = "large-6 medium-6 small-6 columns">
<%= select_year(Date.today, :start_year => Date.today.year, :end_year => 100.years.ago.year) %>
</div>
<div class = "large-6 medium-6 small-6 columns">
<%= select_year(Date.today, :start_year => Date.today.year, :end_year => 100.years.ago.year) %>
</div>
</div>


<div class = "row">
  <div class = "large-12 medium-12 small-12 columns">
<%= form_for(@post) do |a| %>
  <%= a.label :Post %>
  <%= a.text_area :text, class: 'form-control' %>
  <%= a.hidden_field :location_id, :value => @location.id %>
  <%= a.hidden_field :user_id, :value => current_user.id %>
  <%= a.submit %>
<% end %>
  </div>
</div>

<br>
<br>

<div class = "row">
  <div class = "large-12 medium-12 small-12 columns">


  <% @posts.each do |b| %>
    
    <div class = "row">
    <div class = "large-12 medium-12 small-12 columns">
    <%= image_tag current_user.avatar.url(:thumb) %>
    <%= b.user.full_name %>:
    <%= b.text %>
    </div>
    </div>

<!--        Area used for comment form -->
  <div class = "row">
  <div class = "large-12 medium-12 small-12 columns">
      <%= form_for(@comment) do |c| %>
      <%= c.label :Comment %>
      <%= c.text_area :text, class: 'form-control' %>
      <%= c.hidden_field :post_id, :value => b.id %>
      <%= c.hidden_field :user_id, :value => current_user.id %>
      <%= c.submit %>
    <% end %>
  </div>
  </div>

<!--        Area end                  -->

  <% b.comments.each do |d| %>
    <%= b.user.full_name %>:
    <%= d.text %>
    <br>
  <% end %>

  <br>
  <br>

  <% end %>

  </div>
</div>






