<!DOCTYPE html>
<html>
<head>
  <title>The Flipside</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  

</head>
<body onload="initialize()">

<div id="user_nav">
    <% if user_signed_in? %>

        <div class = "profile" style = "padding: 5px;">
        <%= image_tag "data:#{current_user.avatar.content_type};base64,#{current_user.small_image}" %>
        Signed in as <b><%= current_user.full_name %></b>&nbsp&nbsp
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

        <% if request.original_url != root_url %>
          &nbsp&nbsp<%= link_to "Search", root_url, :method => :get %>
        <% end %>

        </div>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
</div>

<%= yield %>

</body>
</html>
